* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display';
}

html {
    scroll-behavior: smooth;
}

::selection {
  color: white;
  background: lightgray;
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.container::-webkit-scrollbar {
    display: none;              /* Chrome, Safari, Opera */
  }

.section {
    scroll-snap-align: start;
}

/*-------------------- index.html --------------------*/
/*--------- navbar ---------*/
nav {
    height: 100px;
    width: 100%;
    padding: 30px 50px;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

nav img {
    height: 60px;
}

#logoBrancoNav {
    display: none;
}

#navList {
    display: flex;
    list-style: none;
    gap: 1.5em;
}

#sidebarBtn {
    display: none;
}

#navList li a {
    text-decoration: none;
    color: black;
    gap: 1.5em;
    font-weight: 500;
    transition: 0.4s;
}

#navList li a:hover {
    color: gray;
}

/*--------- sideBar ---------*/
.sidenav {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  right: 0;
  background-color: white; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: gray;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/*--------- secção introSection ---------*/
#introSection {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#introSection div {
    margin-top: 100px;
    padding: 50px;
    text-align: right;
    color: black;
}

#introSection div h3 {
    font-size: 50px;
    font-weight: 300;
}

#introSection div img {
    max-width: 100%;
    max-height: 450px;
}

/*--------- secção descricaoSection ---------*/
#descricaoSection {
    height: 100vh;
    width: 100%;
    background-image: url(Imagens/descBg.jpg);
    background-size: cover;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#descricaoSection div {
   width: 45%;
   padding: 20px;
   background-color: white;
}

#descricaoSection div h3 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
} 

#descricaoSection div p {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
} 

/*--------- secção ondeEstamos ---------*/
#ondeEstamos {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
    box-sizing: border-box;
}

#ondeEstamos_Left {
    width: 40%;
    height: 100%;
}

#ondeEstamos_Left {
    background-image: url(Imagens/rioImagem.jpg);
    background-size: cover;
    background-attachment: scroll;
}

#ondeEstamos_Left div {
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 50px;
    font-size: 40px;
}

#ondeEstamos_Right {
    width: 60%;
    height: 100%;
    background-color: white;
    color: black;
    align-items: end;
    padding: 50px;
    
    box-sizing: border-box;
    display: flex;
    align-items: end;
}

#ondeEstamos_Right div {
    font-size: 20px;
}

#ondeEstamos_Right div h3 {
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 30px;
    color: gray;
}

#ondeEstamos_Right div p {
    font-weight: 300;
    padding-bottom: 20px;
}

#ondeEstamos_Right div a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    border: 1px solid black;
    transition: 0.4s;
    padding: 8px 10px;
}

#ondeEstamos_Right div a:hover {
    background-color: black;
    color: white;
}


/*--------- secção sectionEventos ---------*/
#sectionEventos {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eventosTop {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#eventosTop h3 {
    font-weight: 300;
    font-size: 25px;
}

#eventosTop p {
    font-weight: 300;
    font-size: 15px;
    color: gray;
}

#eventosBottom {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsEventos_Home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    height: 100%;
    flex-wrap: wrap;
}

.cardEventos {
    border: 1px solid transparent;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
}

#cardEvento_1 {
    background-image: url(Imagens/corticaImagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#cardDescobre_1 {
    background-image: url(Imagens/corticaImagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cardEventos_Container {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

#textoCard1_Eventos {
    text-align: center;
    padding-bottom: 10px;
}

#textoCard1_Eventos h3 {
    font-weight: 300;
    font-size: 20px;
}

#textoCard1_Eventos h4 {
    font-size: 13px;
    font-weight: 300;
}

#cardEvento_2 {
    background-image: url(Imagens/corridaDasPontes.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#cardDescobre_2 {
    background-image: url(Imagens/gastronomia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#cardEvento_2 h3 {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
}

#cardEvento_3 {
    background-image: url(Imagens/sonsDeVerao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#cardDescobre_3 {
    background-image: url(Imagens/sonsDeVerao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#cardEvento_3 h3 {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
}

.cardsEventos_Home a {
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.cardsEventos_Home a:hover{
    color: white;
    background-color: black;
}



/*--------- media querys  ---------*/

/* General mobile styles (phones and small tablets in portrait and landscape) */
@media only screen and (max-width: 900px) {
    
    /*-------------------- index.html --------------------*/
    /*--------- navbar ---------*/
    nav {
        padding: 20px;
        background-color: transparent;
    }
    nav img {
        height: 60px;
    }
    #logoNav {
        display: none;
    }
    #logoBrancoNav {
        display: flex;
    }

    #sidebarBtn {
        display: flex;
        font-size: 30px;
        color: white;
    }

    #navList li a {
        display: none;
    }

    /*--------- sideBar ----------*/
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}

    /*--------- secção introSection ---------*/
    #introSection {
        background-image: url(Imagens/fotoHomepage.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    #introSection {
        align-items: end;
        justify-content: end;
        padding-bottom: 60px;
    }
    #introSection div h3 {
        color: white;
        font-size: 35px;
    }
    #introSection div img {
        display: none;
    }

    /*--------- secção descricaoSection ---------*/
    #descricaoSection {
        backdrop-filter: brightness(10%);
    }
    #descricaoSection div {
        width: 70%;
    }    
    #descricaoSection div h3 {
        font-size: 16px;
    }    
    #descricaoSection div p {
        font-size: 14px;
    }

    /*--------- secção ondeEstamos_Left ---------*/
    #ondeEstamos_Left {
        display: none;
    }
    #ondeEstamos_Right {
        background-image: url(Imagens/rioImagem.jpg);
        background-position: center;
        width: 100%;
        color: white;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 100px;
    }
    #ondeEstamos_Right img {
        width: 100px;
        display: none;
    }
    #ondeEstamos_Right div h3 {
        color: white;
    }
    #ondeEstamos_Right div a {
        color: white;
        border-color: white;
    }
    #ondeEstamos_Right div a:hover {
        color: black;
        background-color: white;
    }
}

/* Tablets in portrait and landscape, and larger devices */
@media only screen and (min-width: 601px) and (max-width: 900px) {

}