* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display';
}

html {
    scroll-behavior: smooth;
}
.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.container::-webkit-scrollbar {
    display: none;              /* Chrome, Safari, Opera */
  }

.section {
    scroll-snap-align: start;
}

/*-------------------- index.html --------------------*/
/*--------- navbar ---------*/
nav {
    height: 100px;
    width: 100%;
    padding: 30px 50px;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

nav img {
    height: 60px;
}

#navList {
    display: flex;
    list-style: none;
    gap: 1.5em;
}

#navList li a {
    text-decoration: none;
    color: black;
    gap: 1.5em;
    font-weight: 500;
    transition: 0.4s;
}

#navList li a:hover {
    color: gray;
}

/*--------- secção introSection ---------*/
#introSection {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#introSection div {
    margin-top: 100px;
    padding: 50px;
    text-align: right;
    color: black;
}

#introSection div h3 {
    font-size: 50px;
    font-weight: 300;
}

#introSection div img {
    height: 450px;
}

/*--------- secção descricaoSection ---------*/
#descricaoSection {
    height: 100vh;
    width: 100%;
    background-image: url(Imagens/descBg.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#descricaoSection div {
   width: 45%;
   padding: 20px;
   background-color: white;
}

#descricaoSection div h3 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
} 

#descricaoSection div p {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
} 

/*--------- secção ondeEstamos ---------*/
#ondeEstamos {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
    box-sizing: border-box;
}

#ondeEstamos_Left {
    width: 40%;
    height: 100%;
}

#ondeEstamos_Left {
    position: relative;
}

#ondeEstamos_Left div {
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 50px;
    font-size: 40px;
}

#ondeEstamos_Right {
    width: 60%;
    height: 100%;
    background-color: white;
    color: black;
    align-items: end;
    padding: 50px;
    
    box-sizing: border-box;
    display: flex;
    align-items: end;
}

#ondeEstamos_Right div {
    font-size: 20px;
}

#ondeEstamos_Right div h3 {
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 30px;
}

#ondeEstamos_Right div p {
    font-weight: 300;
}
/*--------- secção sectionEventos ---------*/
#sectionEventos {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eventosTop {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#eventosTop h3 {
    font-weight: 300;
    font-size: 25px;
}

#eventosTop p {
    font-weight: 300;
    font-size: 15px;
    color: gray;
}

#eventosBottom {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsEventos_Home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.cardEventos {
    border: 1px solid transparent;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
}

#cardEvento_1 {
    background-image: url(Imagens/corticaImagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cardEventos_Container {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

#textoCard1_Eventos {
    text-align: center;
    padding-bottom: 10px;
}

#textoCard1_Eventos h3 {
    font-weight: 300;
    font-size: 20px;
}

#textoCard1_Eventos h4 {
    font-size: 13px;
    font-weight: 300;
}

#cardEvento_2 {
    background-image: url(Imagens/corridaDasPontes.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#cardEvento_2 h3 {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
}

#cardEvento_3 {
    background-image: url(Imagens/sonsDeVerao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#cardEvento_3 h3 {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
}

.cardsEventos_Home a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.cardsEventos_Home a:hover{
    color: gray;
}


